body {
    display:block;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto ;
}

.flex_practice {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.number{
    display:flex;
    justify-content:space-evenly;
    border: 2px solid rgb(0, 0, 0) ;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 20px
}

.number:hover {
    background-color: yellow;
  }

.eight {order: 8;}
.two {order: 2;}
.five {order: 5;}
.one {order: 1;}
.seven {order: 7;}
.ten {order: 10;}
.four {order: 4;}
.three {order: 3;}
.six {order: 6;}
.nine {order: 9;}